/* 
.classe
#id
tag 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: yellow;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

header button{
    height: 40%;
    width: 20%;
    justify-self: end;
}

header, footer{
    padding: 0 2%;
}

main{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.section-container{
    border: 1px solid black;
    padding: 4%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    justify-items: center;
    align-items: center;
    padding: 1rem 0;

}

figure img{
    width: 100%;
    height: 80%;
}

figure p{
    font-size: 80%;
}

footer{
    background-color: lightgray;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}