*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: rgb(236, 199, 157);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  
}

header img{
  height: 80%;
}

main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

footer{
  background-color: gray;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}