
/* % -> elemento pai
vw -> largura da tela
vh -> haltura da tela */

/* 
texto 
px
em -> elemento pai
rem -> definido globalmete
*/

*{
    padding: 0;
    margin: 0;
  
}

main{
    background-color: blue;
    /* width: 500px */;
    width: 80vw;
   
}

p{
    background-color: lightcoral;
    width: 10%;
}

span{
    background-color: aqua;
}

a{
    background-color: red;
}